apiVersion: 1

groups:
  - orgId: 1
    name: memory-alerts
    folder: DevOps-Alerts
    interval: 1m
    rules:
      - uid: memory-warning
        title: Memory Usage Warning
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              expr: 100 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100)
              interval: ""
              refId: A
          - refId: C
            expression: A
            type: threshold
            conditions:
              - evaluator:
                  type: gt
                  params: [60]
                operator:
                  type: and
                query:
                  params: [A]
                reducer:
                  type: last
                type: query

      - uid: memory-critical
        title: Memory Usage Critical
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              expr: 100 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100)
              interval: ""
              refId: A
          - refId: C
            expression: A
            type: threshold
            conditions:
              - evaluator:
                  type: gt
                  params: [80]
                operator:
                  type: and
                query:
                  params: [A]
                reducer:
                  type: last
                type: query